
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table table-bordered">
    <thead>
        <tr class="text-center">
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Salary</th>
            <th>Address</th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody class="text-center" id="table_data"></tbody>
</table>

<div>
    <input type="hidden" id=" urlEmployeeData" value="@Url.Action("EmployeeList","Employee")"/>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/custom.js"></script>